.main_info{
	border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    box-shadow:0 -18px 18px -22px #e2e2e2 inset;
    padding: 2px 0 6px;
}
.main_info .logo_content{
	margin-top: 10px;
}
.main_info .media{
	padding-left: 30px;
}
.product_related_title {
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
}
.relate_products  .item {
    border-bottom: 1px solid #d3d3d3;
    padding: 10px;
    width: 100%;
    float: left;
}
@media screen and (max-width:1200px) {
    .relate_products  .item  {
        width: 25%;
    }
}
@media screen and (max-width:997px) {
    .relate_products  .item  {
        width: 33.3333%;
    }
}

@media screen and (max-width:480px) {
    .relate_products  .item  {
        width: 50%;
    }
}
.relate_products  .item .frame_img_cat  img{
    margin: 0 auto;
}
.relate_products .frame_manu {
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
}
.relate_products .frame_title .name {
    margin-top: 6px;
      height: 26px;
  overflow: hidden;
}
.relate_products .frame_title a {
    color: #666666;
    font-size: 12px;
}
.relate_products .frame_price .price span {
    color: #164597;
    font-size: 13px;
    font-weight: bold;
}
.relate_products .frame_price .old_price {
    color: #808080;
    font-size: 12px;
    text-decoration: line-through;
}
.relate_products .frame_price .percent {
    color: #b80405;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
@media screen and (max-width:997px) {
    .relate_products .frame_price .discount,
    .relate_products .frame_price  .price    {
        float: none;
        width: 100%;
    }
}
.product_related.cf {
    padding-left: 0px;
}
@media screen and (max-width:600px){
	.main_top #pav-slideShow{
		width: 100%;
		max-width: 100%;
	}
}

.main_top .block_products_list{
	float: right;
	max-width: 202px;
}
@media screen and (max-width:600px){
	.main_top .block_products_list{
		max-width: 100%;
		width: 100%;
	}
}

.stick-bf {
    width: 1px;
    background: #bbb;
    height: 21px;
    margin: -3px 19px 0px 19px;
}
.star-bf.fl {
    margin-top: -4px;
}

.content-partners {
    display: table;
    position: relative;
    height: 64px;
    width:100%;
    text-align: center;
}
.content-partners > * {
    display: inline-block;
    vertical-align: middle;
    width: 14%;
    text-align: center;
}
.box-partners:nth-child(7n) {
    margin-right: 0px;
}
.box-partners {
    width: 144px;
    height: 96px;
    background: url('../images/background.jpg');
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
}
.block_manu.block {
    margin-bottom: 13px;
}

.block_manu .block_title {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 22px;
    font-family: "open sans";
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 13px;
    margin-bottom: 26px;
}
.block_manu .block_title span {
    font-size: 22px;
    font-family: "open sans";
    font-weight: normal;
    text-transform: uppercase;
}

@media only screen and (min-width:1000px){
    #owl-demo2{
        display: none !important;
    }
}
@media only screen and (max-width:1000px){
    .box-partners {
         width: initial !important; 
         height: initial !important; 
        background: url(../images/background.jpg) no-repeat center !important;
         margin-right: 0px !important; 
        margin-bottom: 0px;
        padding-top: 10px;
        /* text-align: center; */
    }
}
@media only screen and (min-width:1000px) and (max-width:1100px){
    .box-partners:nth-child(5n) {
        margin-right: 0px !important;
    }
    .box-partners:nth-child(7n) {
        margin-right: 20px !important;
    }
}
@media only screen and (max-width:1000px){
    .des-part{
        display: none;
    }
    #owl-demo2 .owl-buttons .owl-prev{
        left: 0px;
        top: 25%;
        background: url(../images/prev.png) -5px 0px no-repeat !important;
        background-size: 100% 100% !important;
        width: 25px;
        height: 25px;
        opacity: 1;
        border-radius: 0px !important;
        margin-left: 0px;
    }
    #owl-demo2 .owl-buttons .owl-next{
        top: 25%;
        right: 0px;
        background: url(../images/next.png) 5px 0px no-repeat !important;
        background-size: 100% 100% !important;
        width: 25px;
        height: 25px;
        opacity: 1;
        border-radius: 0px !important;
        margin-right: 0px;
    }
    #owl-demo2{
        display: block;
        height: initial;
    }
    
}
.col-banner-1:last-child {
    margin-right: 0px;
    float:right !important;
}
.col-banner-1 {
    width: 48.6%;
    margin-right: 30px;
}
.col-banner-1 img{
    max-width: 100%;
}
.wrapper-banner{
    margin-bottom: 30px;
}
@media only screen and (max-width:1000px){
    .col-banner-1 {
        width: 48%;
        margin-right: 2% !important;
    }
}
/*#childs_of_653{
    display:block !important;
}*/
#menu-main-menu {
    z-index: 99999999;
    width: 100%;
    position: relative;
}
#menu-main-menu li {
    position: initial !important;
}
#menu-main-menu > li:first-child > a {
    padding-left: 8px;
    padding-right: 8px !important;
}
#menu-main-menu > li:hover > .highlight{
    display:block;
}
#menu-main-menu > li:hover > a, #menu-main-menu > li > a:hover {
    background: #fff;
    padding-bottom: 16px;
    z-index: 11111;
    box-shadow: 0px -3px 16px 3px #d5d5d5 !important;
    position: relative;
}
#menu-main-menu > li:hover > a:after{
    display: block;
}
#menu-main-menu li.menu-item-has-children>a svg, #menu-main-menu li.menu-item-has-children .sub-menu {
    display: none;
}
#menu-main-menu li.menu-item-has-children .sub-menu.active {
    display: block;
    margin-left: 0;
    padding-left: 0;
    padding-top: 6px;
    padding-bottom: 2px;
    list-style: none;
}
#menu-main-menu li.menu-item-has-children .sub-menu a{
    display: block;
    padding: 3px 15px;
    text-transform: capitalize;
    font-weight: normal;
    font-family: 'arial';
}
#menu-main-menu > li > a:after{
    position: absolute;
    width:100%;
    content: " ";
    bottom: -12px;
    background: #fff;
    height: 15px;
    display: none;
    left:0px;
}
a:focus {outline: none !important;}
#menu-main-menu > li:last-child > a {
    padding-right: 15px;
    padding-left: 15px !important;
}
#menu-main-menu li a:hover,#menu-main-menu .menu_col h3 a:hover{
    color:#c4161c !important;
}
#menu-main-menu li  a {
    font-family: "open sans bold";
    padding: 17px 28px 16px 28px;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 14px;
}
/*#menu-main-menu li:hover a {
	background: #fff;
}*/
#menu-main-menu li.menu-item-has-children .sub-menu {
    top: 42px;
    position: absolute;
    z-index: 99999999;
    min-width: 300px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 23px 1px #ccc;
    margin: 10px 0 0px -1px;
    padding: 0px 0px 0px 20px;
    display: none;
    right: 0px;
}
#menu-main-menu li:first-child .highlight {
    top: 42px;
    position: absolute;
    z-index: 9999;
    min-width: 1132px !important;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 23px 1px #ccc;
    margin: 10px 0 0px -1px;
    padding: 0px 0px 0px 20px;
    left:0px !important;
}
#menu-main-menu li .layer_menu_accessories{
	min-width: 350px !important;
}
#menu-main-menu li .layer_menu_accessories ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu-main-menu .item:first-child .menu_col {
    width: 100% !important;
    float: left !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
}
#menu-main-menu .menu_col {
    width: 16%;
    float: left;
    margin-right: 40px;
    margin-top: 20px;
}
#menu-main-menu li:nth-child(2) .menu_col {
    width: 100% !important;
    float: left !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
}
#menu-main-menu .field_label {
    color: #414c5c;
    font-size: 14px;
    font-family: "arial bold";
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
#menu-main-menu .menu_col h3 {
    margin: 0px 0px 15px 0px;
    width: 100%;
    float: left;
    font-weight: normal !important;
}
#menu-main-menu .menu_col h3 a {
    text-transform: uppercase;
    font-family: "arial bold";
    font-size: 12px;
    color: #414c5c;
}
#menu-main-menu  .read_more a {
	color: #B80405;
}

.last-child-sub {
    width: initial !important;
    border: none !important;
    text-transform: uppercase;
    padding-left: 12px !important;
}
.bb,.cc,.dd,.ee,.ff,.gg,.hh,.iii,.jj,.kk,.ll,.mm,.nn,.oo,.pp,.rr,.ss,.tt,.uu,.vv,.ww,.zz {
    display: none;
}
.active-sub-manu,.active-sub-manu > a{
    color: #414c5c!important;
    background: #c3cbd5;
}

.item-manu-mnu:hover{
    box-shadow: 0px 0px 7px 0px #ccc;
}
.item-manu-mnu.fl {
    width: 90px;
    height: 45px;
    margin-right: 10px;
    background: #fff;
    margin-bottom: 10px;
    padding: 6px 10px 0px 10px;
}
.item-manu-mnu.fl img {
    max-width: 70px;
    width: 85px;
    max-height: 33px;
}
.list-manu-mnu {
    width: 190px;
    margin: auto;
}

.item-manu-mnu:nth-child(2n) {
    margin-right: 0px !important;
}
.title-manu-nb {
text-align: left;
    width: 191px;
    border-bottom: 1px solid #ccc;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 7px;
    text-transform: uppercase;
    font-family: "arial bold";
}
.wrapper-manu-menu.fr {
    width: 235px;
    background: #f1f1f1;
    padding-top: 19px;
    padding-bottom: 20px;
	min-height: 307px;
}
.field_name.normal.first_field h3 a {
    font-family: arial;
    color: #333;
    font-size: 12px;
    height: 15px;
    overflow: hidden;
    display: block;
    line-height: 16px;
}

.title-manu-nb.km-hot {
    color: #c4161c;
}
.list-manu-mnu.cf > p:last-child {
    display: block;
    margin-bottom: 0px;
}
.list-manu-mnu.cf > p:first-child {
    display: block;
    margin-bottom: 10px;
}
.list-manu-mnu img {
    margin: 0px;
	width: 189px;
    height: 69px;
}
.list-manu-menu ul li:hover{
	cursor:pointer;
	background: #c3cbd5;
	color: #414c5c!important;
}
.hidden_more_mm > a,.read_more_mm > a{
   color: #c4161c !important
}
.manu-item-hd,.hidden_more_mm{
    display:none;
}