.widget-filter-product{ /*width: 100%; float: left;*/ }
.wp-pagenavi{ text-align: right; }
.product_cat .frame_head h1{ margin-bottom: 0px; }
.prodetails_tab{ float: left; width: 100%; }
.main-content p{ text-align: justify; }
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{ background-color: #f5f5f5; }
#smartTab .nav-tabs>li>a{ border-radius: 0px; }
.thumb-pro .item img{ width: 80px; }
.tr-value td{ padding-top: 15px !important; }
.main-img .feature_image{ max-width: 320px !important; }
.content-pop-related .block_products_list{ background: none; }
.content-pop-related .block_title{ margin-bottom: 30px; }
.content-pop-related .owl-carousel .owl-item{ padding-top: 25px; border-left: 1px solid #ccc; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.content-pop-related .owl-carousel .owl-item:nth-child(4){ border-right: 1px solid #ccc; }
#comments-evolved-tabs #ui-id-1{ width: auto !important; }
.woocommerce-ordering .orderby{ border: 1px solid #e5e5e5; width: 200px; height: 32px; padding-left: 5px; }
.widget-filter-product{ float: left; width: auto; }
.widget-filter-product .widgettitle{  display: none; color: #333;font-family: "open sans";text-transform: uppercase;position: relative;font-size: 12px;font-weight: normal;margin-bottom: -1px;z-index: 1111; }
.widget-filter-product{ /*width: 125px;*/ }
.widget-filter-product select{     color: #333;
    font-family: "open sans";
    text-transform: uppercase;
    position: relative;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0px;
    z-index: 1111;
    border: none;
    background: none; width: auto; float: left; }
.widget-filter-product-by-color .widgettitle, .widget-filter-product-by-price .widgettitle{ display: block; margin-top: 3px; position: relative;}
.widget-filter-product-by-color ul li {     float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px; }
.wrap-list-product-after-filter{ position: relative; padding-top: 80px; }
.block_product_menu_filter{     position: absolute;
    width: 100%;
    top: 0px;
    padding: 0px 15px; }
.widget-filter-product-by-color ul{/* display: none; */float: left;width: 200px;padding-left: 0px;background: #f5f5f5;padding: 5px 15px 15px 15px;}
.widget-filter-product-by-diameter{ width: 187px; }
.widget-filter-product-by-color{ width: 75px; position:relative;}
.block_product_menu_filter .segment{padding-top: 10px;padding-bottom: 10px;}
#vertical .products{ padding-left: 0px; }
.widget-filter-product-by-color .orderby_widget{ display: none; position: absolute; top: 20px; }
.widget-filter-product-by-color:hover { cursor: pointer; }
.widget-filter-product-by-color:hover .orderby_widget{ display: block; cursor: pointer; }
.widget-filter-product-by-price{ position: relative; width: 100px; }
.widget-filter-product-by-price:hover{ cursor: pointer; }
.widget-filter-product-by-price:hover .meta_slider.meta_slider__price{ display: block; cursor: pointer; }
.widget-filter-product-by-price .meta_slider.meta_slider__price{     width: 250px;
    position: absolute;
    top: 20px;
    background: #f5f5f5;
    padding: 10px; display: none; }
.widget-filter-product-by-price .amount.price_label{ margin-top: 10px; }
.widget-filter-product-by-style-watches{ width: 124px; }
.widget-filter-product-by-price .widgettitle:after, .widget-filter-product-by-color .widgettitle:after{     position: absolute;
    content: "\f0dd";
    font-family: "FontAwesome";
    right: 25px;
    top: -3px;
    font-size: 13px; }
.widget-filter-product-by-color .widgettitle:after{ right: 5px; }
.help {
    right: 0;
    opacity: 1;
}
.help {
    position: fixed;
    top: 238px;
    z-index: 9999;
}
.help ul{
    list-style: none;
}
.help, .help a, .help ul li {
    transition: all .3s ease-out;
}
.help{position:fixed;top:238px;z-index:9999}.help ul{margin:0;padding:0;background-color:#f4f4f4
                                    }
.help ul li {
    background: #cc3500;
}
.help ul li:hover {
    background: #f68c1f;
    width: 225px;
}
.help ul li ul li,
.help ul li ul li:hover {
    background: #f4f4f4;
}
.help a {
    padding: 0 10px;text-align: center;color: #fff;text-decoration: none;line-height: 40px;font-size: 15px;
}
.help li ul {
    visibility: visible;
    width: 225px;
    position: absolute;
    opacity: 0;
    margin - top: 0;
    transition: all .2s ease-out;
}
.help ul li ul li {
    text-align: left;
    font-size: 14px;
    color: #f68c1f;
    line-height: 18px;
    padding-top: 9px;
    /* padding-bottom: 10px; */
    margin-left: 12px;
}
.help ul li ul li a {
    text-align: left;
    font-size: 13px;
    line-height: 23px;
    margin: 0;
    padding-left: 15px;
    padding-bottom: 5px;
    color: #000;
    text-decoration:none;
    background:url(../images/list-bulet.png) 0 5px no-repeat;
}
.help ul li ul li a:hover{
    color:#f68c1f;
    padding-left: 20px
}
.help li:hover > ul {
    visibility: visible;
    opacity: 1;
}