.footer-section ul{
    padding-left: 0px;
}
/* CSS Responsive */
@media screen and (max-width: 380px){
    .title-block{
        font-size: 30px;
    }
    .footer-section p{
        text-align: center;
    }
}
@media screen and (max-width: 768px){
    .contact-input-form .half-input{
        width: 100%;
    }
    .half-input-left {
        border-right: 1px solid #b6b6b6;
        border-bottom: 1px solid #b6b6b6;
    }
    .text-copyright{
        text-align: center;
    }

}
@media screen and (max-width: 992px){
    .testimonials-section{
        background: #fff;
        background-image: url(../images/testimonial1.png);
        background-position: left top;
        background-repeat: no-repeat;
        height: auto;
    }
}