.discount_content{
	margin: 0;
}
.discount_content .discount_title {
    color: #333333;
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    white-space: nowrap;
}
.wrapper-discount{
    position: relative;
    width: 100%;
}
.discount_content .txt-input {
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    color: #aaa;
    font-size: 12px;
    width: 350px;
    height: 35px;
    font-family: "open sans";
    padding-left: 12px;
}
.discount_content .button-sub.button {
    background: url(../images/icon_button.png) no-repeat scroll center center;
    border: none;
    border-radius: 0 4px 4px 0;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 96px;
    height: 31px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 10px;
}

.item-check label {
    background: url(../images/check-ft.png) no-repeat left center;
    color: #777;
    font-size: 13px;
    font-family: "open sans";
    padding-left: 26px;
}
.item-check input {
    display: none;
}
.item-check input:checked + label{
    background: url(../images/checked-ft.png) no-repeat left center;
    color:#c4161c;
}
.item-check:first-child {
    margin-right: 65px;
}
.wrapper-check.cf {
    margin-bottom: 8px;
}
.social-ft {
    margin-top: 23px;
}
.title-social {
    font-size: 13px;
    text-transform: uppercase;
    font-family: "open sans bold";
    color: #555;
    margin-bottom: 10px;
}

@media only screen and (max-width:350px){
    .discount_content .txt-input {
        width: 100% !important;
    }
}